.button {
	height: 100px;
	color: #85BACD;
}
.header {
	color: white;
}
h1 {
	color: #85BACD;
	font: sans-serif;
}

p {
	margin: 0;
	padding: 0;	
	vertical-align: middle;
	line-height: 100px;
}

div {
	height: 100px;
	background-color: #85BACD;
	border-bottom: 1px solid white;
	text-align: center;
}

a {
	font: 24px sans-serif;
	color: white;
	text-decoration: none;
}