.header {
	color: white;
}

.header-title {
	color: #85BACD;
	font-family: sans-serif;
}

.button {
	height: 100px;
	background-color: #85BACD;
	border-bottom: 1px solid white;
	text-align: center;
}

.menu-item {
	font: 24px sans-serif;
	color: white;
	text-decoration: none;
	line-height: 100px;
	vertical-align: middle;
}